:root {
  --red: #ea5757;
  --blue: #55a4e5;
  --yellow: #ffb24f;
  --green: #6ddb80;
  --white: #f5f5f5;
  --black: #101a23;
  --purple: #7a61dd;
  --purple-hover: #5e55d8;
  --shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.container {
  position: relative;
}

.check {
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--purple);
  box-shadow: var(--shadow);
  transition: 0.2s ease;
  cursor: pointer;
  position: relative;
  outline: none;
}

.check::before {
  content: "+";
  position: absolute;
  font-size: 34px;
  font-weight: 700;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
}

.check:hover {
  background-color: var(--purple-hover);
}

.check:checked {
  transform: rotate(45deg) scale(0.8);
}

.items {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease;
  box-shadow: var(--shadow);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Tombol-tombol dengan gambar */
.btn-image {
  background-image: url('hd-camera-white-icon-transparent-png-701751695035211qlwsjkrrse-removebg-preview.png');
  background-color: var(--red);
  transform: rotate(-90deg);
}
.btn-camera {
  background-image: url('images-removebg-preview.png');
  background-color: var(--yellow);
  transform: rotate(-90deg);
}
.btn-share {
  background-image: url('png-transparent-computer-icons-home-house-home-angle-building-rectangle-thumbnail-removebg-preview.png');
  background-color: var(--green);
  transform: rotate(-90deg);
}
.btn-video {
  background-image: url('pngtree-gallery-vector-icon-png-image_1028015-removebg-preview.png');
  background-color: var(--blue);
  transform: rotate(-90deg);
}


.check:checked ~ .items {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 1;
  z-index: 10;
}

/* Posisi setiap tombol saat muncul */
.check:checked ~ .btn-image {
  left: -100px;
  transform: rotate(0);
}
.check:checked ~ .btn-camera {
  top: -100px;
  transform: rotate(0);
}
.check:checked ~ .btn-share {
  top: 100px;
  transform: rotate(0);
}
.check:checked ~ .btn-video {
  left: 100px;
  transform: rotate(0);
}


.btn-image {
    background-image: url('f0e1f97daf39f8e807146f7362c3c54c-removebg-preview.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  background-color: var(--red);
  transform: rotate(-90deg);
  
}
.btn-camera {
    background-image: url(images-removebg-preview.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  background-color: var(--yellow);
  transform: rotate(-90deg);
}
.btn-share {
    background-image: url(pngtree-file-storage-icon-design-png-image_5074373-removebg-preview.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  background-color: var(--green);
  transform: rotate(-90deg);
}
.btn-video {
    background-image: url(pngtree-gallery-vector-icon-png-image_1028015-removebg-preview.png);
  background-color: var(--blue);
  transform: rotate(-90deg);
  background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.check:checked ~ .items {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 1;
  box-shadow: var(--shadow);
}

.check:checked ~ .btn-image {
  left: -100px;
  transform: rotate(0);
}
.check:checked ~ .btn-camera {
  top: -100px;
  transform: rotate(0);
}
.check:checked ~ .btn-share {
  top: 100px;
  transform: rotate(0);
}
.check:checked ~ .btn-video {
  left: 100px;
  transform: rotate(0);
}
